.slider {
    width: 100%;
    margin: 30px auto;
}

.slick-slide {
  margin: 0px 13px;
}

.slick-slide img {
  width: 80%;
}

.slick-slide p {
  width: 80%;
  font-size: 12px;
  text-align: center;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}